h2 {
    color: red;
  }
  hr{
    height: 10px;
    background: black;
  }
  
  .elephant{
    height: 150px;
  }
  
  #bird{
    height: 200px;
  }
  .image_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
  }